<div class="jumbotron text-centre">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">this site was basically created so as a notepad for u where u can store the names and links to some
        of ur fav videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">add video</a>
</div>